<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>App00 - Index</title>
</head>
{% include "app00/header.html" %}
<body>
	<h2>Je suis une page d'accueil</h1>
	{% if auth %}
		<h2>Vous etes authentifie en tant que : {{ test }} </h1>
	{% else %}
		<h2>Vous n'etes pas authentifie</h1>
	{% endif %}
	<a href="/app00/admin"><button>Admin</button></a>
	<a href="/app00/createaccount"><button>Create Account</button></a>
	{% if auth  %}
		<a href="/app00/logout"><button>Logout</button></a>
	{% else %}
		<a href="/app00/login"><button>Login</button></a>
	{% endif %}
</body>
{% include "app00/footer.html" %}
</html>
